:root{
    --primary-color: #042325;
    --secondary-color: #CBE4C9;
    --accent-color-one: #04414E;
    --accent-color-two: #406348;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    margin:0;
    padding: 0;
    
}

header{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 1em;
    background-color: var(--primary-color);
    padding: 2em 1em;
}

header img{
    background-color: var(--accent-color-one);
    padding: .3em;
    justify-self: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    padding: .8rem 2rem;
    margin: .7em;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.5em;
    text-decoration: none;
    border: 3px solid var(--accent-color-two);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Times New Roman', Times, serif;  
    color: var(--primary-color);
}

.hero{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.main-image{
    width: 70%;
    height: auto;
    margin: 2em 0;
    display: block;
}

.hero h1{
    position: absolute;
    top: 3em;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    opacity: .8 ;
    width: 70%;
    text-align: center;
    padding: 1rem 0;
    font-size: 3em;
    letter-spacing: .3rem;
}

.hero article{
    position: absolute;
    width: 50%;
    top: 25em;
    height: auto;
    padding: 2em;
    background-color: var(--secondary-color);
    justify-items: center;
    align-content: center;
}
.hero article h2{
    text-align: center;
    font-size: 2em;
}
.hero article img{
    width: 20%;
    height: auto;
    float: right;
    padding: 1em;
}
.hero article p{
    display: block;
    font-size: 1rem;
}

.hero section img{
    width: 50%;
    height: auto;
}

.history-container{
    display: flex;
    position: relative;
    margin: 2em 0;
    padding: 1em;
    width: 90%;
    height: auto; 
    color: var(--primary-color);
    background-color: var(--secondary-color);  
}

.history-container div{
    flex-grow: 3;
    margin: 1rem;
}

.history-container div h2{
    text-align: center;
    color: var(--primary-color);
    font-size: 3em;
}

.history-container div img{
    display: block;
    width: 30em;
    justify-self: center;
    align-self: center;
    height: auto;
}

.history-container p{
    flex-grow: 1;
    text-align: center;
    align-self: center;
    padding: 2em;
}

.adventure-section{
    width: 100%;
    margin: 1em 0 6em 0;
}

.adventure-section div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.adventure-section h2{
    display: block;
    text-align: center;
    font-size: 3em;
    padding: 1rem;
    color: var(--primary-color);
}
.adventure-section div figure{    
    display: block;
    width: 20em;
    height: auto;
    margin: 1rem;
    background-color: var(--accent-color-one);
}
.adventure-section div figure img{    
    display: block;
    width: 100%;
    height: auto;
}
.adventure-section div figure figcaption{
    text-align: center;
    padding: 1em;
    font-size: 1.3em;
    color: var(--secondary-color);
}

.title-container{
    margin: 5rem auto;
    padding: 3rem;
    text-align: center;
    width: 70em;
    background-color: var(--secondary-color);
}

p img{
    width: 1em;
    height: auto;
    margin-right: 1rem;
    padding: .1rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.title-container h1{
    font-size: 3em;
    color: var(--primary-color);
}
.title-container p{
    font-size: 1.2em;
    margin: 3rem;
    line-height: 2rem;
    color: var(--accent-color-one);
}

.contact-info-container{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    justify-self: center;
    justify-content: space-around;
    width: 90em;
    color: var(--primary-color);
}

.contact-info-container div{
    padding: 4em 0;
}

.contact-info-container h2{
    font-size: 2.5em;
    margin: 0 1rem;
}

.contact-info-container h3{
    font-size: 1.5em;
    margin: 3rem 1rem;
}

.contact-info-container div p{
    font-size: .9em;
    color: gray;
    margin: 2rem 1rem;
}
.contact-info-container div p a{
    font-size: .9em;
    color: gray;
    text-decoration: none;
}

.contact-info-container iframe{
    width: 40%;
    height: auto;
    border-spacing: cover;
    border: 2px solid var(--accent-color-two);
    margin: 0 1em;
}

.company-agents{
    background-color: var(--secondary-color);
    margin: 5em auto;
    padding: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.company-agents h2{
    text-align: center;
    color: var(--primary-color);
    font-size: 3em;
    grid-column: 1/4;
}

.agent{
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color-two);
    justify-self: center;
    justify-content: space-between;
    width: 80%;
}

.agent img{
    max-width: 100%;
    height: auto;
}

.agent div{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}

.agent div h3{
    color: var(--secondary-color);
    font-size: 1.9em;
}

.agent div p a{
    color: var(--secondary-color);
}

.contact-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5em auto;
    width: 40%;
    justify-content: center;
    height: auto;
    color: var(--primary-color);
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.contact-form-container h2{
    font-size: 3em;
    text-align: center;
    color: var(--accent-color-one);
}

fieldset{
    border: none;
    margin-top: 2em;
}

legend{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}
.first-fieldset{
    display: flex;
    justify-content: center;
    border: none;
    grid-column: 1/4;
}

.first-fieldset div {
    margin: 0 1.5em;
    padding: .2rem;
    width: 100%;
}

.first-fieldset div label, input{
    display: block;
    margin: .5em 1em;
    font-size: 1rem;
}

.first-fieldset div input {
    border: 2px solid gray;
    border-radius: .4rem;
    margin: .5em;
    padding: .5rem;
    width: 90%;
}

.second-fieldset{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    width: 100%;
    grid-column: 1/4;
}
.second-fieldset div{
    margin: 1em 1em;
    justify-items: center;
}

.message-container{
    width: 100%;
}
.message-container label{
    display: block;
    padding: 1em;
}

.message-container textarea{
    margin: 0 auto;
    width: 40em;
    border: 2px solid gray;
    border-radius: .4rem;
}

.subscribe-container{
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="button"]{
    margin: 2em;
    grid-column: 2/3;
    width: 60%;
    justify-self: center;
    padding: 1em;
    text-align: center;
    background-color: var(--accent-color-two);
    color: var(--secondary-color);
    border-radius: 1rem 1rem 0 0;
    appearance: none;
    border: none;
}

input[type="button"]:hover{
    cursor: pointer;
    background-color: var(--accent-color-two);
    color: var(--secondary-color);
    border-radius: 1rem 1rem 0 0;
    border-bottom: 3px solid var(--primary-color);
}

footer{
    background-color: var(--accent-color-two);
    padding: 2em;
    position: relative;
}


footer p{
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    color: var(--secondary-color);
}

footer p a{
    color: var(--secondary-color);
}

footer div{
    position: absolute;
    align-self: center;
    top: 2em;
    right: 5em;
}

footer div a{
    text-decoration: none; 
    margin: 1em;
    float: left;
    border-radius: .5rem;
}

footer div a img{
    width: 4em;
    background-color: #fff;
}