.callout {
	width: 450px;
    margin: 5px;
    border: 6px solid rgb(228, 210, 210);
    padding: 3px;
    background-color: rgb(39, 92, 145);
    color: rgb(230, 221, 221);
    box-shadow: 0 0 15px black;
}

.callout img {
	float: inline-end;
    margin: 15px 10px;
    border: 3px solid rgb(241, 234, 234);
    padding: 2px;
    background-color: rgb(56, 51, 51);
    width: 9em;
    height: auto;
    box-shadow: 0 0 15px black;
}

blockquote {
	margin: 0px 15px;
}

cite {
	display: block;
    border-top: 2px dotted  rgb(228, 210, 210);
    padding: 10px 10px 0px 0px;
    text-align: right;
    margin: 10px;
}
    